<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        autocomplete="off"
      >
        <h2 class="text-center text-primary">Sign Up</h2>
        <hr class="horizontal-line" />
        <app-text-input
          [formControl]="$any(registerForm.controls['username'])"
          [label]="'Username'"
        ></app-text-input>
        <app-text-input
          [formControl]="$any(registerForm.controls['knownAs'])"
          [label]="'Known As'"
        ></app-text-input>
        <app-date-picker
          [formControl]="$any(registerForm.controls['dateOfBirth'])"
          [label]="'Date of Birth'"
          [maxDate]="maxDate"
          [minDate]="minDate"
        ></app-date-picker>
        <app-text-input
          [formControl]="$any(registerForm.controls['city'])"
          [label]="'City'"
        ></app-text-input>
        <app-state-options
          [formControl]="$any(registerForm.controls['country'])"
          [label]="'State'"
        ></app-state-options>

        <div class="row align-items-center">
          <div class="mb-3">
            <label class="custom-label-register col-4 ml-0">Gender: </label>
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-label"
                value="male"
                formControlName="gender"
              />
              male
            </label>
            <label class="form-check-label">
              <input
                type="radio"
                class="form-check-label ms-3"
                value="female"
                formControlName="gender"
              />
              female
            </label>
          </div>
        </div>

        <app-text-input
          [formControl]="$any(registerForm.controls['password'])"
          [label]="'Password'"
          [type]="'password'"
        ></app-text-input>

        <app-text-input
          [formControl]="$any(registerForm.controls['confirmPassword'])"
          [label]="'Confirm Password'"
          [type]="'password'"
        ></app-text-input>


        <div class="row" *ngIf="validationErrors">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
              {{error}}
            </li>
          </ul>
        </div>


        <div class="text-center">
          <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
          <button class="btn btn-default" type="button" (click)="cancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
