<h1>About</h1>
<ng-container>
  <p>
    This fake dating website was built through the following Udemy course:
    <a
      href="https://www.udemy.com/course/build-an-app-with-aspnet-core-and-angular-from-scratch/learn/"
      >https://www.udemy.com/course/build-an-app-with-aspnet-core-and-angular-from-scratch/learn/</a
    >
  </p>
  <p>
    My GitHub can be found here:
    <a href="https://github.com/csmith468/Angular-.NET-DatingApp"
      >https://github.com/csmith468/Angular-.NET-DatingApp</a
    >
  </p>
  <h4>What was used in this course?</h4>
  <ul>
    <li>
      <div style="font-weight: bold">Front-End</div>
      <ul>
        <li>
          Angular (v16)
          <ul>
            <li>
              Components, directives, guards, interceptors, interfaces, etc
            </li>
            <li>File uploading (images)</li>
          </ul>
        </li>
        <li>TypeScript</li>
        <li>Bootstrap CSS</li>
      </ul>
    </li>
    <li>
      <div style="font-weight: bold">Back-End</div>
      <ul>
        <li>ASP.NET Core (v7)</li>
        <li>C#</li>
        <li>REST APIs</li>
        <li>.NET Entity Framework Core</li>
        <li>SignalR for real-time presence/messaging</li>
        <li>SQLite &rarr; PostgresDB</li>
        <li>Cloudinary for Image Upload Storage</li>
      </ul>
    </li>
    <li>
      <div style="font-weight: bold">Deployment</div>
      <ul>
        <li>Fly.io</li>
        <li>Docker Container</li>
        <li>Github Actions for Continuous Integration/Continuous Deployment</li>
      </ul>
    </li>
    <li>
      <div style="font-weight: bold">Features</div>
      <ul>
        <li>Client-side login and registration</li>
        <li>Secure routing</li>
        <li>Paging, sorting, routing</li>
        <li>Live private messaging</li>
        <li>Angular template and reactive forms with validation</li>
        <li>Photo upload functionality</li>
        <li>Bootstrap styling</li>
      </ul>
    </li>
  </ul>

  <h4>What did I add extend from the original course?</h4>
  <ul>
    <li>
      <div style="font-weight: bold">Front-End</div>
      <ul>
        <li>
          Adaptive Layout using Breakpoint Observer
          <ul>
            <li>
              Members page adjusts number of members per row based on window
              size and if filter panel is visible
            </li>
            <li>
              Navigation bar collapses links into menu dropdown, then removes
              "Welcome" as window size decreases
            </li>
          </ul>
        </li>
        <li>Collapsible filter panel in members list</li>
        <li>New UI for messaging</li>
        <li>Extra client-side password validation during registration</li>
        <li>Gender tag in members list page</li>
        <li>
          Home page shows register or members link depending on if logged in
        </li>
        <li>Custom Bootswatch theme</li>
      </ul>
    </li>
    <li>
      <div style="font-weight: bold">Back-End</div>
      <ul>
        <li>Edit gender after registration</li>
        <li>Sort members by age asc/desc</li>
        <li>Admin can delete accounts</li>
      </ul>
    </li>
  </ul>
  <p style="font-weight: bold">
    I'm continuing to work on this to improve my skills so check back in for
    more updates!
  </p>
  <code class="mt-5" style="background-color: whitesmoke"></code>
</ng-container>
