<div class="text-center mt-3">
  <h2>Your Matches - {{ pagination?.totalItems }} Found!</h2>
</div>

<div class="container mt-3" *ngIf="userParams">
  <div class="container"></div>
  <button *ngIf="!filterPanelVisible" class="btn btn-info" (click)="changeFilterPanel()">Show Filters</button>
  <button *ngIf="filterPanelVisible" class="btn btn-info" (click)="changeFilterPanel()">Hide Filters</button>
  <div class="row pt-2">
    <div class="{{filterPanelSize}}" *ngIf="filterPanelVisible">
      <div class="filter-panel">
        <div class="row" style="padding: 10px">
          <section class="mb-3">
            <h5 class="text-danger ps-2">Sort</h5>
            <select
              class="form-select"
              (change)="applyFilters()"
              [(ngModel)]="userParams.orderBy"
            >
              <option value="lastActive">Active</option>
              <option value="created">Newest</option>
              <option value="ageAsc">Age &uarr;</option>
              <option value="ageDesc">Age &darr;</option>
              <button
                style="font-size: small"
                type="button"
                class="btn btn-secondary"
                name="orderBy"
                (click)="applyFilters()"
                [(ngModel)]="userParams.orderBy"
                btnRadio="lastActive"
              >
                Active
              </button>
            </select>
          </section>
          <section class="mb-3">
            <h5 class="text-danger ps-2">Gender</h5>
            <select
              name="gender"
              class="form-select"
              (change)="applyFilters()"
              [(ngModel)]="userParams.gender"
            >
              <option *ngFor="let gender of genderList" [value]="gender.value">
                {{ gender.display }}
              </option>
            </select>
          </section>
          <section class="mb-3">
            <h5 class="text-danger pl-2">Age Range</h5>
            <div class="row">
              <div class="d-flex pb-3">
                <label class="col-form-label pl-1 pr-2">Min: </label>
                <input
                  type="number"
                  onKeyPress="if(this.value.length==3) return false;"
                  class="form-control ps-1"
                  style="width: 65px"
                  name="minAge"
                  [(ngModel)]="userParams.minAge"
                />
              </div>
              <div class="d-flex pb-3">
                <label class="col-form-label pl-1 pr-1">Max: </label>
                <input
                  type="number"
                  onKeyPress="if(this.value.length==3) return false;"
                  class="form-control ps-1"
                  style="width: 65px"
                  name="maxAge"
                  [(ngModel)]="userParams.maxAge"
                />
              </div>
              <div class="pl-3">
                <button class="btn btn-success col-8 mb-2" (click)="applyFilters()">Apply</button>
                <button (click)="resetFilters()" class="btn btn-danger col-8">Reset</button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="{{matchesScreenSize}}">
      <div class="row">
        <div class="{{individualMatchSize}}" *ngFor="let member of members">
          <app-member-card [member]="member"></app-member-card>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="pagination">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</div>
