<div class="text-center mt-3">
  <h2>Your Matches - {{pagination?.totalItems}} Found!</h2>
</div>

<div class="container mt-3" *ngIf="userParams">
  <form #form = "ngForm" class="d-flex mb-3" (ngSubmit)="applyFilters()" autocomplete="off">
    <div class="d-flex mx-2">
      <label class="col-form-label">Age From: </label>
      <input type="number" class="form-control ms-1" style="width: 70px" name="minAge"
        [(ngModel)]="userParams.minAge">
    </div>

    <div class="d-flex mx-2">
      <label class="col-form-label">Age To: </label>
      <input type="number" class="form-control ms-1" style="width: 70px" name="maxAge"
        [(ngModel)]="userParams.maxAge">
    </div>

    <div class="d-flex px-2">
      <label class="col-form-label me-2">Gender: </label>
      <select name="gender" style="width: 130px" class="form-select ms-1" [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
      </select>
    </div>
    <button class="btn btn-info" type="submit" style="font-size: small;">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-danger ms-1"  style="font-size: small;" type="submit">Reset Filters</button>


    <div class="col">
      <div class="btn-group float-end">
        <button   
          style="font-size: small;"
          type="button"
          class="btn btn-secondary" 
          name="orderBy" 
          (click)="applyFilters()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="lastActive"
        >Last Active</button>
        <!-- <button   
          type="button"
          class="btn btn-secondary" 
          name="orderBy" 
          (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="created"
        >Newest Members</button> -->
      <button   
        type="button"
        style="font-size: small;"
        class="btn btn-secondary" 
        name="orderBy" 
        (click)="applyFilters()"
        [(ngModel)]="userParams.orderBy"
        btnRadio="ageAsc"
      >Age &uarr;</button>
        <button   
          type="button"
          style="font-size: small;"
          class="btn btn-secondary" 
          name="orderBy" 
          (click)="applyFilters()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="ageDesc"
        >Age &darr;</button>
      </div>
    </div>



    <!-- <div class="col">
      <label class="col-form-label me-2">Sort By: </label>
      <select name="orderBy" class="form-select ms-1" [(ngModel)]="userParams.orderBy"
          (ngModelChange)="loadMembers()" >
        <option *ngFor="let oL of orderList" [value]="oL.value">{{oL.display}}</option>
      </select>
  </div> -->



  </form>
</div>

<div class="row">
  <div class="col-3" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;" >
    </pagination>
</div>