<div class="container mt-5">
    <div style="text-align: center;" >
        <h1>Find your *fake* match!</h1>
        <p class="lead">Come on in to view your super real matches... all you need to do is sign up!</p>
        <div class="text-center">
            <button *ngIf="!(accountService.currentUser$ | async)" 
                routerLink="/register"
                class="btn btn-success btn-lg me-2">Register</button>
            <button *ngIf="(accountService.currentUser$ | async)" 
                routerLink="/members"
                class="btn btn-secondary btn-lg me-2">View Members</button>
            <button routerLink="/about" 
                class="btn btn-info btn-lg">Learn More</button>
        </div>
    </div>

    <!-- <div *ngIf="registerMode">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div> -->
</div> 