.img-thumbnail {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 20px 0 20px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }