<div class="card mb-4" *ngIf="member">
    <div class="card-img-wrapper">
        <img src="{{member.photoUrl || '/assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
          <button routerLink="/members/{{member.userName}}" class="btn btn-info"><i class="fa fa-user"></i></button>
          <button (click)="addLike(member)" class="btn btn-secondary"><i class="fa fa-heart"></i></button>
          <button 
            class="btn btn-success"
            routerLink="/members/{{member.userName}}"
            [queryParams]="{tab: 'Messages'}"
            >
            <i class="fa fa-envelope"></i>
          </button>
        </ul>
    </div>
    <div class="card body p-1">
        <h6 class="card-title text-center mb-1">
          <span [class.is-online]="(presenceService.onlineUsers$ | async)?.includes(member.userName)">
            <i class="fa fa-user me-2"></i>
            <!-- <i *ngIf="(presenceService.onlineUsers$ | async)?.includes(member.userName)" class="fa-solid fa-user-check fa-beat text-success"></i> -->
            <!-- <i *ngIf="!(presenceService.onlineUsers$ | async)?.includes(member.userName)" class="fa-solid fa-moon"></i> -->
          </span>
          {{member.knownAs}} ({{member.age}})
        </h6>
        <p class="card-text text-muted text-center">{{member.city}}, {{member.country}}</p>
        <ul class="list-inline text-center">
          <span class="badge badge-info mr-1" *ngIf="member.gender == 'male'">{{member.gender}}</span>
          <span class="badge badge-secondary mr-1" *ngIf="member.gender == 'female'">{{member.gender}}</span>
        </ul>
    </div>
</div>

